/*CSS Reset / Normalize*/


body {
    box-sizing: border-box;
    background-color:#F5F5F5 ;
    font-family: 'Raleway';
    margin: 0 auto;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
    /* width: 25%;
    margin: 0; */
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu .menu_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
      

}
.menu_list{
    /* width: 95%;
    height: 20%;
	height: 25%; */
   
}

/*Sessão Title*/

.img-foto{
    position:relative;
    left: 60%;
    width: 190px;
    display: flex;
    justify-content: center;
    clip-path: circle(50%);
    max-width: 40%;
    max-height: 60%;
}
/*Sessão About*/

.about{

}

/* Skills*/

.skills{

}

/*Sessão Hobbies*/

.hobbies{
    
}

/* Formação*/

.formacao{

}

/* project */

.project{

}

/*Contato*/

.contato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}




